body{
    height:100%;
    
}
#ColorAndSize{
    border: 1px solid black;
    background-color:rgb(247, 247, 152);
    width : 100%;
    float: left;
    flex: 3;
    padding : 3px;
    font-family: 'Hi Melody', cursive;
}
#EnterTextsBlock{
    

    border: 1px solid black;
    background-color: pink;
    width : 100%;
    float: left;
    flex: 6;
    font-family: 'Hi Melody', cursive;
}
#ImageBlock{

    border: 1px solid black;
    background-color: darkturquoise;
    width : 100%;
    float: left;
    padding : 2px;
    flex: 3;
    font-family: 'Hi Melody', cursive;
}
.dropdown{

     display: inline;
     width: 50%;
     block-size: 30%;
     width: 100%;
     margin: 2px;
    padding: 2px;
     float: right;
}
.Toolbar-down{
    background-color: #eee;
    
    float:left;
    
}
.Toolbar-up {
    display: flex;

}
.myCanvas {
    border: 2px solid lightblue;
}

#drawingCanvas:hover, #drawingCanvas:focus { 
    cursor: url(PencilHandwriting.cur), default;
    /* cursor: crosshair; */
}
